* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.button {
  padding: 15px;
  margin: 15px;
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
}

.product {
  &__list {
    width: 90%;
    max-width: 1700px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__item {
    list-style: none;
    border: 1px solid #dfdfdf;

    .button {
      position: relative;
      background-color: rgb(65, 65, 65);
      color: #f5f3f3;
      padding: 7px 25px;
      margin: 0px;
      font-size: 18px;
      border-radius: 0px;
      transition: 0.5s;
      border: none;

      &::before {
        display: block;
        position: absolute;
        content: "";
        background: rgb(255, 255, 255);
        top: -10px;
        left: -10px;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
      }

      &:hover {
        background-color: rgb(99, 99, 99);
      }
    }
  }

  &__img {
    width: 100%;
  }

  &__card-layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  &__info {
    justify-self: start;
    align-self: end;
  }

  &__buttons {
    justify-self: end;
    align-self: end;
    display: flex;
    align-items: center;
  }

  &__name,
  &__price {
    margin: 5px;
    color:rgb(37, 37, 37);
  }

  &__color,
  &__article {
    margin: 5px;
    text-transform: capitalize;
    color:rgb(177, 177, 177)
  }
}

.modal {
  &__overlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0vh;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  }

  &__div {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 250px;
  width: 520px;
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  transform: translate(-50%, -50%);
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #575757;
    padding: 24px;

    &__text {
      display: inline;
      color: #ffffff;
      font-size: 18px;
    }

    &__close-button {
      background: none;
      border: none;
      padding: 0;
      margin: 0 0 0 10px;
      color: #ffffff;
      font-size: 20px;
      height: 20px;
      width: 20px;
    }
  }

  &__text {
    font-size: 16px;
    color: #333333;
    padding: 20px 40px;
    text-align: center;
    line-height: 2;
  }

  &__button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
  
    .button {
      background-color: #575757;
      color: #ffffff;
      border-radius: 0px;
      font-size: 16px;
      min-width: 100px;
      border: none;
      margin: 0 5px;
      transition: 0.5s;

      &:hover {
        background-color: #7c7c7c;
      }
    }
  }
}

.modal-is-open {
  overflow: hidden;
  padding-right: calc(100vw - 100%);

}

.star {
    background: none;
    border: none;
    width: 34px;
    height: 34px;
    margin-right: 15px;

    svg {
      height: 20px;
      width: 20px;
      cursor: pointer;
    }
  }

  .header {
    width: 100%;
    min-height: 50px;
    background: #4d4d4d;
    padding: 5px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      padding: 0 10px;
      color: #FFFFFF;
      font-weight: 700;
      font-size: 20px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    &__icons {
      display: flex;

      .info-icon {
        margin-right: 10px;
        margin-left: 30px;
        position: relative;

        &__circle {
          position: absolute;
          padding: 2px;
          bottom: -7px;
          right: -12px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 12px;
          font-weight: 700;
          height: 24px;
          min-width: 24px;
          background: rgba(19, 203, 235, 0.856);
          color: #242424;
        }
      }

      svg {
        height: 30px;
        width: 30px;
        color: #FFFFFF;
      }
    }
  }

  .info-icon {
    height: 30px;
    width: 30px;
  }